{% if content %}
	{% if ( content.url and content.url.layout_builder_add_block is empty ) %}
		{% set link_item %}
		{{content.url}}
		{% endset %}
		<a href="{{link_item|striptags|trim}}">
		{% endif %}
		<div {{attributes.addClass('layout__region','d-flex','justify-content-center','flex-column')}}>
			{% if content.dadas %}
				<div {{region_attributes.dadas.addClass('dadas','text-center')}}>
					{{content.dadas|layout_value}}
				</div>
			{% endif %}
			{% if content.main %}
				<div {{region_attributes.main.addClass('main','text-center')}}>
					{{content.main|layout_value}}
				</div>
			{% endif %}
			{% if content.url.layout_builder_add_block %}
				{{content.url.layout_builder_add_block}}
			{% endif %}
		</div>
		{% if ( content.url and content.url.layout_builder_add_block is empty ) %}
		</a>
	{% endif %}
{% endif %}